/* Import the fonts first */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: "Roboto Mono", monospace;
  scrollbar-width: thin; 
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}



::-webkit-scrollbar:horizontal {
  height: 3px;
}
/* Overall scrollbar */
::-webkit-scrollbar {
  width:3px; /* For vertical scrollbars */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: #1b1a1a;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #02ffff;
  border-radius: 1px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

